on_force_close "detach"
simplified_ui false
default_shell "fish"
default_cwd ""
pane_frames false
auto_layout true
scroll_buffer_size 10000
session_serialization false
serialize_pane_viewport false
scrollback_lines_to_serialize 10000
theme "catppuccin-frappe"
default_layout "compact"
default_mode "normal"
mouse_mode true
copy_on_select true
copy_command "pbcopy"
copy_clipboard "system"
mirror_session false
styled_underlines true
ui {
  pane_frames {
    hide_session_name true
    rounded_corners true
  }
}

plugins {
  tab-bar { path "tab-bar"; }
  status-bar { path "status-bar"; }
  strider { path "strider"; }
  compact-bar { path "compact-bar"; }
  session-manager { path "session-manager"; }
}

keybinds clear-defaults=true {
  locked {
    bind "Alt /"    { SwitchToMode "Normal"; }
  }
  shared_except "locked" {
    bind "Alt /"    { SwitchToMode "Locked"; }
    bind "Alt ;"     { NewPane; }
    bind "Alt '"     { NewTab; }
    bind "Alt ]"     { GoToNextTab; }
    bind "Alt ["     { GoToPreviousTab; }
    bind "Alt h"     { MoveFocus "Left"; }
    bind "Alt l"     { MoveFocus "Right"; }
    bind "Alt j"     { MoveFocus "Down"; }
    bind "Alt k"     { MoveFocus "Up"; }
    bind "Alt H"     { MovePane "Left"; }
    bind "Alt J"     { MovePane "Down"; }
    bind "Alt K"     { MovePane "Up"; }
    bind "Alt L"     { MovePane "Right"; }
    bind "Alt Left"  { Resize "Left"; }
    bind "Alt Right" { Resize "Right"; }
    bind "Alt Down"  { Resize "Down"; }
    bind "Alt Up"    { Resize "Up"; }
  }
}
